/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/*----------*/

.form-cover{
    background-image: url('../img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100px;
    -webkit-filter: drop-shadow(5px 5px 5px lightgrey);
    filter: drop-shadow(5px 5px 5px lightgrey);
}

.section-basic-content .wp-video span,
.section-basic-content .wp-playlist span{
    margin-top: 0px!important;
}

.wp-playlist-light .wp-playlist-caption {
    display: inline-flex;
}

.wp-playlist-item-title,
.wp-playlist-item-artist{
    margin-left: 5px;
}

.category-page .media-wrap .card-button {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 0;
    background-position: right center;
    line-height: 40px;
    margin-top: 0px;
}
.category-page .media-wrap .card-button.closed {
    background-image: url("../img/icons/button-arrow-down-blue.png");
}
.category-page .media-wrap .card-button.open {
    background-image: url("../img/icons/button-arrow-up-blue.png");
}

.category-image img{
    width: 228px;
    height: 305px;
    object-fit: cover;
}

section.services .card img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.modal-form-1{
    color: black;
}
.modal-form-1 .form-control {
    margin-top: 20px;
}
.modal-form-1 .form-header h4 {
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
}
.modal-form-1 .form-description {
    text-align: center;
}

.icon-box{
    font-size: 14px;
}

.section-basic-content .container .row img{
    max-width: 100%;
    object-fit: contain;
}

.slider-4-items .slick-slide img{
    max-width: 100%;
}
.slider-4-items .slick-slide{
    margin-right: 10px;
    margin-left: 10px;
}

.testimonials-page .section-media-object .inner-wrap .img-box img, .employess-page .section-media-object .inner-wrap .img-box img {
    height: 306px;
    object-fit: cover;
    width: 228px;
}

.media-body-1.media-close {
    height: auto;
    max-height: 256px;
}
@media (min-width: 768px) {
    .media-body-1.media-show {
        min-height: 256px;
        height: auto;
    }
    .media-body-1.media-close {
        height: 256px;
    }
}

.media-divider {
    bottom: 50px;
}

.media-header{
    margin-bottom: 10px;
}

.section-title-level-2 {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

.check-wrap-value{
    text-align: center;
    width: 100%;
    display: inline-block;
}

.rate-choice-packages{
    background-color: #f7f7f7!important;
    border: 1px solid #e2e2e2!important;
    color: #336699!important;
    font-weight: normal;
    text-transform: none!important;
}
.table-lg tfoot tr td.rate-choice-buttom{
    border: 1px solid #e2e2e2!important;
}
.table-lg tfoot tr td.rate-choice-noborder{
    border: none!important;
}

.table-lg tfoot tr td {
    text-transform: none;
}

.page-item-cont{
    text-align: center;
    position: relative;
    width: 100%;
    margin: 20px 0 20px 0;
}
.page-item-wrap{
    display: inline-block;
    margin: 10px;
}
.page-item{
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    color: #000;
    margin: 0;
    float: left;
    width: 33.3%;
    height: 65px;
}
.page-item:nth-child(4n+4){
    border-left: 1px solid #ddd;
    min-width: 33.33%;
}
.page-item:first-child{
    border-left: 1px solid #ddd;
    min-width: 33.33%;
}
.page-item:nth-child(n+4){
    border-top: none;
}
.page-item a{
    color: #000;
    text-decoration: none;
}
.page-item a:hover{
    color: #336699;
}
.high-lighted,
.high-lighted a{
    color: #fff!important;
    background-color: #336699;
}
@media (max-width: 639px) {
    .page-item {
        border-left: 1px solid #ddd!important;
        border-right: 1px solid #ddd!important;
        border-top: 1px solid #ddd!important;
        border-bottom: none!important;
        width: 100%;
    }
    .page-item:last-child{
        border-bottom: 1px solid #ddd!important;
    }
}