@font-face {
  font-family: "proxima_nova_regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2");
  src: url("../fonts/proximanova-regular-webfont.woff") format("woff");
  src: url("../fonts/proximanova-regular-webfont.ttf") format("truetype");
  src: url("../fonts/proximanova-regular-webfont.svg") format("svg"); }
body {
  font-family: "proxima_nova_regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000; }

html {
  min-height: 100%;
  position: relative; }

body {
  height: 100%;
  padding-bottom: 142px; }
  @media (max-width: 1200px) {
    body {
      height: auto;
      padding-bottom: 180px; } }
  @media (max-width: 550px) {
    body {
      padding-bottom: 235px; } }
  @media (max-width: 400px) {
    body {
      padding-bottom: 320px; } }

h1, h2, h3, h4, h5, ul, ol, p {
  margin: 0; }

ul, ol {
  padding-left: 0; }

a, a:focus, a:active, a:hover {
  text-decoration: none; }

button:focus,
.btn:focus,
button:active,
.btn:active,
.btn:active:focus {
  outline: none;
  color: #fff; }

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0; }

.blue-bg {
  background-color: #3399ff; }

.white-bg {
  background-color: #fff; }

.grey-bg {
  background-color: #e2e2e2; }

.gold-title {
  color: #cc9966; }

.section-base {
  padding: 80px 0;
  position: relative; }

.icon-box {
  padding-left: 26px;
  position: relative;
  margin: 10px 0; }
  @media (max-width: 992px) {
    .icon-box {
      display: inline-block; } }
  .icon-box:before {
    content: "";
    position: absolute;
    left: 0; }
  .icon-box span {
    font-size: 14px; }
  .icon-box a {
    font-size: 14px;
    color: #000;
    line-height: 20px; }

.gery-bg {
  background-color: #f7f7f7; }

.white-bg {
  background-color: #fff; }

.dark-section {
  color: #fff; }

.light-section {
  color: #000; }

.section-title h2 {
  line-height: 40px;
  font-size: 30px; }
  @media (max-width: 600px) {
    .section-title h2 {
      line-height: 30px;
      font-size: 24px; } }

h3 {
  font-size: 18px; }

.section-title-level-1 {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .section-title-level-1 h1 {
    color: #000;
    font-size: 30px;
    line-height: 40px; }

.section-title-level-2 {
  margin: 80px 0 20px 0;
  display: inline-block;
  width: 100%; }
  @media (max-width: 768px) {
    .section-title-level-2 {
      margin: 20px 0; } }
  .section-title-level-2 h2 {
    color: #336699;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase; }

.section-title-level-4 {
  margin: 20px 0;
  display: inline-block;
  width: 100%; }
  .section-title-level-4 h4 {
    font-weight: bold;
    text-transform: uppercase; }

@media (max-width: 520px) {
  .col-12-520 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; } }

.breadcrumbs-wrap {
  background-color: #f7f7f7;
  margin-top: 121px; }
  @media (max-width: 768px) {
    .breadcrumbs-wrap {
      margin-top: 0; } }

.breadcrumb {
  margin: 10px 0;
  background-color: transparent; }
  .breadcrumb li {
    position: relative; }
    .breadcrumb li a {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6); }
    .breadcrumb li:after {
      content: "";
      width: 5px;
      height: 8px;
      background-image: url("../img/signs/arrow-right-sm-black.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 11px;
      transform: translateY(-50%); }
  .breadcrumb li {
    padding-left: 30px; }
  .breadcrumb li:first-child {
    padding-left: 0; }
    .breadcrumb li:first-child:after {
      content: none; }
  .breadcrumb li.active {
    font-size: 14px;
    line-height: 20px;
    color: #336699; }
  .breadcrumb li.active:after {
    background-image: url("../img/signs/arrow-right-sm-blue.png"); }

.breadcrumb > li + li:before {
  content: none; }

.overlay-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5; }

.item:focus,
a:focus {
  outline: none; }

.row-flex-y-center {
  display: flex; }
  .row-flex-y-center .center-y {
    align-self: center; }

.so-2 .row-flex-y-center {
  display: block; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin: 10px 0; }

.page-pagination {
  border-top: 1px solid #e2e2e2;
  margin: 0;
  padding: 10px 0; }

.pagination {
  margin: 0;
  float: right; }
  .pagination li a {
    border-radius: 50%;
    border-color: #e2e2e2;
    margin: 0 5px;
    color: #000;
    border-color: #e2e2e2;
    cursor: pointer;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center; }
  .pagination li.active a,
  .pagination li a:hover,
  .pagination li a:focus {
    background-color: #336699;
    color: #fff;
    border-color: #336699;
    cursor: pointer; }

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 50% !important; }
  .pagination > li:first-child > a span,
  .pagination > li:last-child > a span {
    width: 38px;
    height: 38px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 38px; }

.pagination > li:first-child > a span {
  background-image: url("../img/signs/arrow-left-md-blue.png"); }

.pagination > li:last-child > a span {
  background-image: url("../img/signs/arrow-right-md-blue.png"); }

.pagination > li:first-child > a:hover span,
.pagination > li:first-child > a:focus span {
  background-image: url("../img/signs/arrow-left-md-white.png"); }

.pagination > li:last-child > a:hover span,
.pagination > li:last-child > a:focus span {
  background-image: url("../img/signs/arrow-right-md-white.png"); }

.page-nav {
  margin-bottom: 80px;
  border-top: 1px solid #e2e2e2;
  height: auto; }
  @media (max-width: 768px) {
    .page-nav {
      margin-bottom: 40px; } }
  @media (max-width: 460px) {
    .page-nav {
      border-top: none; } }

.page-nav > ul {
  margin-top: -1px; }

.page-nav > ul > li {
  display: inline-block; }
  @media (max-width: 460px) {
    .page-nav > ul > li {
      display: block; } }

.page-nav > ul {
  text-align: center; }

.page-nav > ul > li > a {
  font-size: 14px;
  padding-top: 20px;
  border-top: 3px solid transparent;
  text-transform: uppercase;
  margin: 0 20px;
  color: #000;
  display: block; }
  @media (max-width: 460px) {
    .page-nav > ul > li > a {
      padding-bottom: 20px; } }
  .page-nav > ul > li > a:hover {
    color: #336699; }

.page-nav > ul > li.active > a {
  border-top: 3px solid #336699;
  color: #336699; }

.section-err .section-title-level-1 {
  margin-bottom: 40px; }
  .section-err .section-title-level-1 span {
    color: #cc9966; }
.section-err .divider {
  margin-bottom: 20px; }
.section-err .main-button {
  min-width: 320px;
  margin-top: 40px; }
  @media (max-width: 350px) {
    .section-err .main-button {
      min-width: auto; } }

.slick-slide:focus {
  outline: none; }

.search-box {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 10;
  background-color: #fff; }
  @media (max-width: 992px) {
    .search-box {
      position: static;
      max-width: 280px;
      margin: 0 auto; } }

.search-form {
  margin: 0;
  padding: 0; }
  @media (max-width: 320px) {
    .search-form {
      width: 220px;
      margin: 0 auto; } }
  @media (max-width: 992px) {
    .search-form .form-group {
      float: left; } }
  .search-form .search-input {
    width: 16px;
    height: 40px;
    background-image: url("../img/icons/search-icon-blue.png");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    box-shadow: none;
    cursor: pointer; }
    .search-form .search-input:focus {
      width: 200px;
      background-color: #fff; }
    @media (max-width: 992px) {
      .search-form .search-input {
        width: 240px;
        float: left;
        background-image: none;
        border: 1px solid #e2e2e2;
        border-radius: 0;
        margin-right: -1px; }
        .search-form .search-input:focus {
          width: 240px; } }
  @media (max-width: 992px) and (max-width: 320px) {
    .search-form .search-input {
      width: 180px; }
      .search-form .search-input:focus {
        width: 180px; } }

  .search-form .search-button {
    display: none; }
    @media (max-width: 992px) {
      .search-form .search-button {
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        background-image: url("../img/icons/search-icon-blue.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0;
        border: 1px solid #e2e2e2;
        margin-left: -1px;
        float: left; } }

textarea {
  resize: none; }
  textarea:focus {
    outline: none; }

.offer-box .form-1 {
  margin-top: 20px; }

.form-1 .form-control {
  height: 40px;
  border-radius: 25px;
  box-shadow: none;
  background-color: #fff; }
@media (max-width: 767px) {
  .form-1 .input-phone {
    margin-top: 20px; } }

.form-wrap {
  width: 73%;
  margin-left: 13.5%;
  padding: 20px 35px;
  background-color: rgba(51, 102, 153, 0.85);
  border-radius: 25px; }
  @media (max-width: 992px) {
    .form-wrap {
      width: 100%;
      margin-left: 0; } }

.form-title {
  text-align: center; }
  .form-title h3 {
    font-size: 30px;
    line-height: 40px; }

.form-2 {
  margin-top: 40px; }
  .form-2 .form-control {
    height: 40px; }
  .form-2 .input-message {
    padding: 6px 12px;
    width: 100%; }
  .form-2 .form-control,
  .form-2 .input-message {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: none;
    color: #fff;
    transition: 0.5s;
    display: block; }
  .form-2 .form-control::-webkit-input-placeholder,
  .form-2 .input-message::-webkit-input-placeholder {
    color: #fff; }
  .form-2 .form-control::-moz-placeholder,
  .form-2 .input-message::-moz-placeholder {
    color: #fff; }
  .form-2 .form-control:-moz-placeholder,
  .form-2 .input-message:-moz-placeholder {
    color: #fff; }
  .form-2 .form-control:-ms-input-placeholder,
  .form-2 .input-message:-ms-input-placeholder {
    color: #fff; }
  .form-2 .form-control:focus,
  .form-2 .input-message:focus {
    background-color: #fff;
    color: #000; }
  .form-2 .main-button {
    min-width: 260px;
    margin: 0 auto;
    display: block;
    margin-top: 20px; }
    @media (max-width: 450px) {
      .form-2 .main-button {
        min-width: auto;
        width: 100%; } }

.form-control::-webkit-input-placeholder,
.input-message::-webkit-input-placeholder {
  transition: 0.5s; }

.form-control::-moz-placeholder,
.input-message::-moz-placeholder {
  transition: 0.5s; }

.form-control:-moz-placeholder,
.input-message:-moz-placeholder {
  transition: 0.5s; }

.form-control:-ms-input-placeholder,
.input-message:-ms-input-placeholder {
  transition: 0.5s; }

form:not(.search-form) .form-control:focus::-webkit-input-placeholder,
form:not(.search-form) .input-message:focus::-webkit-input-placeholder {
  color: transparent; }
form:not(.search-form) .form-control:focus::-moz-placeholder,
form:not(.search-form) .input-message:focus::-moz-placeholder {
  color: transparent; }
form:not(.search-form) .form-control:focus:-moz-placeholder,
form:not(.search-form) .input-message:focus:-moz-placeholder {
  color: transparent; }
form:not(.search-form) .form-control:focus:-ms-input-placeholder,
form:not(.search-form) .input-message:focus:-ms-input-placeholder {
  color: transparent; }

@media (max-width: 400px) {
  #form-popup-1 .form-1 {
    width: 100%; } }
@media (max-width: 450px) {
  #form-popup-1 .main-button {
    font-size: 14px; } }
#form-popup-1 .form-control {
  margin-top: 20px; }
#form-popup-1 .main-button {
  width: 100%; }
#form-popup-1 .form-header {
  text-align: center; }
  #form-popup-1 .form-header h4 {
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase; }
#form-popup-1 .form-description {
  text-align: center; }
#form-popup-1 .input-rate-label {
  margin-top: 10px;
  width: 100%; }
#form-popup-1 .input-rate {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-top: 0 !important;
  text-align: center;
  float: right;
  display: inline-block; }

.modal-backdrop.in {
  z-index: 10000; }

.modal {
  z-index: 10010; }

.modal::-webkit-scrollbar {
  width: 0; }

.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .modal-body img {
      max-width: 100%; } }

.modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none; }

@media (max-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin-left: auto;
    margin-right: auto; } }
@media (max-width: 400px) {
  .modal-dialog {
    width: 100%;
    max-width: 350px; } }

.modal-body .form-wrap {
  background-color: #fff; }

.main-button {
  padding: 0 20px;
  border-radius: 25px;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.5s;
  font-size: 16px;
  line-height: 40px; }
  .main-button span {
    display: inline-block; }

.white-button {
  background-color: #fff;
  color: #cc9966;
  cursor: pointer; }
  .white-button span {
    color: #cc9966; }
  .white-button:hover {
    background-color: #cc6600;
    color: #fff; }
    .white-button:hover span {
      color: #fff; }

.blue-button {
  background-color: #336699;
  color: #fff; }
  .blue-button:hover {
    background-color: #3399ff; }

.gold-button {
  background-color: #cc9966;
  color: #fff;
  border: 1px solid #cc9966;
  display: inline-block; }
  .gold-button:hover {
    color: #cc9966;
    background-color: transparent;
    border: 1px solid #e2e2e2; }

.preheader-button {
  float: right;
  width: 30px;
  height: 30px;
  background-color: #336699;
  font-size: 14px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 25px;
  right: 40px;
  display: none; }
  @media (max-width: 320px) {
    .preheader-button {
      display: none; } }

.menu-collapse-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 28px;
  right: 10px;
  display: none; }
  @media (max-width: 992px) {
    .menu-collapse-button {
      display: block; } }
  .menu-collapse-button span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #336699;
    margin: 3px auto; }

@media (max-width: 768px) {
  .category-page .media-wrap {
    text-align: center; } }
.category-page .media-wrap .card-button {
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 0;
  line-height: 40px;
  background-position: right center; }

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 5000;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1); }
  @media (max-width: 768px) {
    header {
      position: static; } }
  @media (max-width: 1200px) {
    header .container {
      width: 100%; } }
  header .email-box,
  header .phone-box {
    float: left; }
  header .email-box {
    margin-right: 20px; }
    @media (max-width: 520px) {
      header .email-box {
        display: none; } }
  @media (max-width: 800px) {
    header .phone-box {
      display: none; } }

.email-box:before {
  width: 17px;
  height: 14px;
  top: 3px;
  background-image: url("../img/icons/email-icon-gold.png"); }

.phone-box:before {
  width: 14px;
  height: 13px;
  top: 3.5px;
  background-image: url("../img/icons/phone-icon-gold.png"); }

.registration-button,
.sign-in-button {
  float: right;
  margin-right: 20px; }
  @media (max-width: 320px) {
    .registration-button,
    .sign-in-button {
      float: none;
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto; } }

.registration-button:before {
  width: 17px;
  height: 16px;
  top: 2px;
  background-image: url("../img/icons/person-icon-gold.png"); }

.sign-in-button:before {
  width: 18px;
  height: 18px;
  top: 1px;
  background-image: url("../img/icons/sign-in-icon-gold.png"); }

.lang-choice-button {
  font-size: 14px;
  position: relative;
  float: right;
  line-height: 34px;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
  margin-top: 3px;
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 320px) {
    .lang-choice-button {
      float: none; } }

.caret {
  border: none;
  width: 10px;
  height: 7px;
  background-image: url("../img/signs/caret-down-gold.png"); }

.lang-choice-list {
  float: right;
  position: relative; }
  @media (max-width: 320px) {
    .lang-choice-list {
      float: none;
      text-align: center; } }
  .lang-choice-list > .dropdown-menu {
    left: -50%;
    top: 41px;
    border-radius: 0 0 10px 10px;
    border-top: none;
    border-color: #f7f7f7;
    padding: 5px 0; }
    @media (max-width: 1200px) {
      .lang-choice-list > .dropdown-menu {
        left: auto;
        right: 0; } }
    @media (max-width: 520px) {
      .lang-choice-list > .dropdown-menu {
        width: 100%;
        position: static;
        box-shadow: none;
        border: none; } }
    .lang-choice-list > .dropdown-menu > li > a {
      font-size: 14px;
      text-align: center;
      margin: 10px 0;
      transition: 0.5s; }
      .lang-choice-list > .dropdown-menu > li > a:hover {
        background-color: transparent;
        color: #336699; }

.lang-choice-list:hover .lang-choice-button,
.lang-choice-list.open .lang-choice-button {
  border-bottom: 3px solid #336699; }
  @media (max-width: 520px) {
    .lang-choice-list:hover .lang-choice-button,
    .lang-choice-list.open .lang-choice-button {
      border-bottom: 3px solid transparent; } }

@media (max-width: 520px) {
  .lang-choice-list.open {
    width: 100%; } }

.top-header-wrap {
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  display: block; }
  @media (max-width: 320px) {
    .top-header-wrap {
      border-bottom: transparent; } }

.logo-header {
  margin: 10px 0;
  display: block;
  float: left; }

@media (max-width: 992px) {
  .nav-panel {
    display: none;
    margin-top: 20px; } }
@media (max-width: 768px) {
  .nav-panel {
    margin-top: 80px; } }

.menu-list {
  float: right;
  margin-right: 55px; }
  @media (max-width: 992px) {
    .menu-list {
      width: 100%;
      margin-right: 0;
      text-align: center; } }
  .menu-list > ul > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    margin-top: 3px; }
    @media (max-width: 1200px) {
      .menu-list > ul > li {
        margin-right: 10px; } }
    @media (max-width: 992px) {
      .menu-list > ul > li {
        display: block; } }
    .menu-list > ul > li > a {
      display: block;
      text-transform: uppercase;
      color: #000;
      font-size: 14px;
      line-height: 74px;
      border-bottom: 3px solid transparent;
      transition: 0.5s; }
      .menu-list > ul > li > a:hover {
        border-bottom: 3px solid #336699;
        color: #336699; }
      @media (max-width: 992px) {
        .menu-list > ul > li > a {
          line-height: 30px;
          border-bottom: none; }
          .menu-list > ul > li > a:hover {
            border-bottom: none; } }
    .menu-list > ul > li .dropdown-menu {
      left: -75%;
      top: 79px;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      border-color: #f7f7f7;
      max-width: 250px;
      min-width: 200px;
      margin: -2px; }
      @media (max-width: 992px) {
        .menu-list > ul > li .dropdown-menu {
          position: static;
          float: none;
          max-width: 100%;
          box-shadow: none;
          border-radius: 0;
          border: none; } }
      .menu-list > ul > li .dropdown-menu > li > a {
        margin: 10px 0;
        text-align: center;
        transition: 0.5s;
        font-size: 14px;
        line-height: 20px;
        white-space: normal; }
        .menu-list > ul > li .dropdown-menu > li > a:hover {
          background-color: transparent;
          color: #336699; }
  .menu-list > ul li.open > a {
    border-bottom: 3px solid #336699; }
    @media (max-width: 992px) {
      .menu-list > ul li.open > a {
        border-bottom: none; } }
  @media (max-width: 992px) {
    .menu-list > ul li.open .dropdown-menu {
      border-top: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2; } }
  @media (max-width: 992px) {
    .menu-list > ul li.open {
      margin-right: 0; } }

.section-intro-slider {
  position: relative; }
  @media (max-width: 1200px) {
    .section-intro-slider {
      padding-top: 120px; } }
  @media (max-width: 768px) {
    .section-intro-slider {
      padding-top: 0; } }

.slider-intro .arrow-next {
  right: 20%; }
  @media (max-width: 1200px) {
    .slider-intro .arrow-next {
      right: 20px; } }
  @media (max-width: 600px) {
    .slider-intro .arrow-next {
      right: 10px; } }
.slider-intro .arrow-prev {
  left: 20%; }
  @media (max-width: 1200px) {
    .slider-intro .arrow-prev {
      left: 20px; } }
  @media (max-width: 600px) {
    .slider-intro .arrow-prev {
      left: 10px; } }
.slider-intro .item {
  position: relative; }
.slider-intro .img-box img {
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .slider-intro .img-box img {
      min-height: 400px;
      object-fit: cover; } }
  @media (max-width: 600px) {
    .slider-intro .img-box img {
      min-height: 460px; } }
.slider-intro .overlay-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; }
.slider-intro .item-content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  color: #fff;
  font-size: 18px; }
  @media (max-width: 1200px) {
    .slider-intro .item-content-box {
      width: 80%; } }
  @media (max-width: 600px) {
    .slider-intro .item-content-box {
      width: 100%;
      padding: 0 10px; } }
  .slider-intro .item-content-box .item-heading {
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px; }
    .slider-intro .item-content-box .item-heading h2 {
      font-size: 48px; }
      @media (max-width: 600px) {
        .slider-intro .item-content-box .item-heading h2 {
          font-size: 36px; } }
      @media (max-width: 400px) {
        .slider-intro .item-content-box .item-heading h2 {
          font-size: 24px;
          line-height: 30px; } }
  .slider-intro .item-content-box .item-text {
    margin-bottom: 20px; }
    @media (max-width: 600px) {
      .slider-intro .item-content-box .item-text {
        font-size: 14px; } }
  .slider-intro .item-content-box span {
    display: block; }
.slider-intro .main-button {
  min-width: 235px;
  display: inline-block; }

.section-list-item-1 h2 {
  text-align: center; }
.section-list-item-1 .inner-wrap {
  position: relative;
  z-index: 10; }

.card {
  max-width: 320px;
  text-align: center; }

.card-lg {
  max-width: 80%; }
  @media (max-width: 768px) {
    .card-lg {
      max-width: 100%; } }

.card-0 {
  margin: 0 auto; }
  @media (max-width: 992px) {
    .card-0 {
      margin-bottom: 40px; } }
  @media (max-width: 450px) {
    .card-0 {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e2e2e2; } }

.card-m-2 {
  margin: 40px auto;
  text-align: center; }

.card-m {
  margin: 80px auto 20px auto; }
  .card-m .card-img-top {
    max-width: 80px;
    height: auto;
    margin: 0 auto 20px auto; }
    .card-m .card-img-top img {
      max-width: 100%;
      height: auto; }

.card-title {
  margin-top: 20px; }

.card-text {
  padding: 0 10px;
  margin-top: 20px; }

.card-button {
  display: block;
  margin-top: 10px;
  padding-bottom: 50px;
  background-image: url("../img/icons/button-arrow-blue.png");
  background-repeat: no-repeat;
  background-position: center bottom; }
  .card-button span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #336699; }

.sli-v-1 {
  background-image: url("../img/section-img-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#sli-slider .row {
  position: relative; }
  #sli-slider .row .arrow-next {
    right: -10px; }
    @media (max-width: 768px) {
      #sli-slider .row .arrow-next {
        right: 10px; } }
  #sli-slider .row .arrow-prev {
    left: -10px; }
    @media (max-width: 768px) {
      #sli-slider .row .arrow-prev {
        left: 10px; } }

@media (min-width: 768px) {
  .about-us-page .section-list-item-1 {
    padding: 120px 0 80px 0; } }

.offer-box {
  text-align: center; }
  .offer-box .offer-title {
    margin-top: 20px; }
  .offer-box h2 {
    font-size: 30px;
    line-height: 40px; }
    @media (max-width: 600px) {
      .offer-box h2 {
        font-size: 24px;
        line-height: 36px; } }
  .offer-box .offer-text {
    margin-top: 20px; }

.section-offer.so-1 {
  background-color: #f7f7f7;
  background-image: url("../img/offer-bg-1.png");
  background-repeat: no-repeat;
  background-position: center bottom; }
  .section-offer.so-1 .main-button {
    width: 100%; }

@media (max-width: 992px) {
  .section-offer.so-1 .offer-box {
    width: 80%;
    margin-left: 10%; } }
@media (max-width: 450px) {
  .section-offer.so-1 .offer-box {
    width: 100%;
    margin-left: 0; } }

.section-offer.so-2 {
  background-color: #0078af;
  text-align: center; }
  .section-offer.so-2 .main-button {
    max-width: 490px;
    margin: 20px auto 0 auto;
    width: 100%; }
  .section-offer.so-2 .offer-img-left {
    width: 100%;
    max-width: 150px;
    height: auto;
    overflow: hidden;
    background-image: url("../img/signs/arrow-right-lg-white.png");
    background-repeat: no-repeat;
    background-position: right center; }
    @media (max-width: 992px) {
      .section-offer.so-2 .offer-img-left {
        margin-left: auto;
        margin-right: auto;
        background-image: url("../img/signs/arrow-down-lg-white.png");
        background-position: bottom center;
        padding-bottom: 35px; } }
    .section-offer.so-2 .offer-img-left img {
      max-width: 65px;
      height: auto;
      float: left;
      display: block; }
      @media (max-width: 992px) {
        .section-offer.so-2 .offer-img-left img {
          float: none;
          margin-left: auto;
          margin-right: auto; } }
  .section-offer.so-2 .offer-img-right {
    width: 100%;
    max-width: 150px;
    height: auto;
    overflow: hidden;
    background-image: url("../img/signs/arrow-right-lg-white.png");
    background-repeat: no-repeat;
    background-position: left center; }
    @media (max-width: 992px) {
      .section-offer.so-2 .offer-img-right {
        margin-left: auto;
        margin-right: auto;
        background-image: url("../img/signs/arrow-down-lg-white.png");
        background-position: top center;
        padding-top: 35px;
        margin-top: 35px; } }
    .section-offer.so-2 .offer-img-right img {
      max-width: 65px;
      height: auto;
      float: right;
      display: block; }
      @media (max-width: 992px) {
        .section-offer.so-2 .offer-img-right img {
          float: none;
          margin-left: auto;
          margin-right: auto; } }

.section-media-object h2 {
  text-align: center; }
.section-media-object .section-title {
  margin-bottom: 20px; }

.section-media-object .item-text > ul {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; }
  .section-media-object .item-text > ul > li {
    list-style-type: none;
    padding-left: 30px;
    background-image: url("../img/signs/dot-gold.png");
    background-repeat: no-repeat;
    background-position: 0 5px;
    margin: 10px 0; }

.media,
.media:first-child {
  margin-top: 40px;
  padding-right: 15px; }
  @media (max-width: 992px) {
    .media,
    .media:first-child {
      padding-right: 0; } }

.media-left {
  padding-right: 20px;
  text-align: center; }
  .media-left img {
    margin: 0 auto; }
  @media (max-width: 500px) {
    .media-left {
      display: block; } }

.media-text {
  margin-top: 10px; }

.media-title {
  height: auto;
  margin-top: 10px; }

@media (max-width: 500px) {
  .media-title,
  .media-text {
    text-align: center;
    padding: 0 30px; } }
@media (max-width: 350px) {
  .media-title,
  .media-text {
    padding: 0; } }

@media (max-width: 768px) {
  .section-media-object .item-text {
    text-align: left; } }
.section-media-object .item-text h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0; }
  .section-media-object .item-text h4 p, .section-media-object .item-text h4 span {
    margin-bottom: 5px; }

.item-text.bordered {
  border-top: 1px solid #e2e2e2;
  padding: 20px 0 0 0; }

.media-caption {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px 0; }

.employess-page .media-wrap .card-button {
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 0;
  background-position: right center;
  line-height: 40px;
  margin-top: 40px; }
.employess-page .media-wrap .card-button.closed {
  background-image: url("../img/icons/button-arrow-down-blue.png"); }
.employess-page .media-wrap .card-button.open {
  background-image: url("../img/icons/button-arrow-up-blue.png"); }

.media-wrap {
  padding: 40px 0; }
  @media (max-width: 768px) {
    .media-wrap {
      text-align: center; } }

.media-wrap:nth-child(2n+1) {
  background-color: #f7f7f7; }

.media-wrap:nth-child(2n) {
  background-color: #fff; }

.testimonials-page .section-title-level-1,
.employess-page .section-title-level-1 {
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .testimonials-page .section-title-level-1,
    .employess-page .section-title-level-1 {
      margin-bottom: 40px; } }
  @media (max-width: 768px) {
    .testimonials-page .section-title-level-1,
    .employess-page .section-title-level-1 {
      margin-bottom: 20px; } }
.testimonials-page .section-media-object .inner-wrap,
.employess-page .section-media-object .inner-wrap {
  padding: 10px; }
  .testimonials-page .section-media-object .inner-wrap .img-box,
  .employess-page .section-media-object .inner-wrap .img-box {
    border: 1px solid #e2e2e2;
    cursor: pointer;
    max-width: 235px;
    margin: 20px auto; }
    .testimonials-page .section-media-object .inner-wrap .img-box img,
    .employess-page .section-media-object .inner-wrap .img-box img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto; }
.testimonials-page .media-header,
.employess-page .media-header {
  text-align: left; }
  @media (max-width: 768px) {
    .testimonials-page .media-header,
    .employess-page .media-header {
      text-align: center; } }
  .testimonials-page .media-header h2,
  .employess-page .media-header h2 {
    text-transform: uppercase;
    color: #336699;
    display: inline-block;
    font-size: 20px;
    line-height: 40px; }
.testimonials-page .media-decription,
.employess-page .media-decription {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 20px; }

.media-obj-title {
  font-size: 20px;
  line-height: 30px;
  color: #336699;
  text-transform: uppercase;
  text-align: right; }
  @media (max-width: 768px) {
    .media-obj-title {
      text-align: center; } }

.media-obj-subtitle {
  font-size: 18px;
  line-height: 20px;
  color: #cc9966;
  text-align: right;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .media-obj-subtitle {
      text-align: center; } }

.media-obj-content.bordered-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2; }
  @media (max-width: 768px) {
    .media-obj-content.bordered-bottom {
      margin-top: 20px; } }

.media-obj-text {
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .media-obj-text {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; } }
  .media-obj-text .main-button-wrap {
    width: 44.44444%; }
    @media (max-width: 992px) {
      .media-obj-text .main-button-wrap {
        width: 70%; } }
    @media (max-width: 768px) {
      .media-obj-text .main-button-wrap {
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 600px) {
      .media-obj-text .main-button-wrap {
        width: 100%; } }
    .media-obj-text .main-button-wrap .main-button {
      width: 100%;
      text-align: center; }
      @media (max-width: 350px) {
        .media-obj-text .main-button-wrap .main-button {
          font-size: 14px; } }

.media-body-1.media-close {
  height: 256px;
  overflow: hidden;
  transition: 0.5s; }

.media-body-1.media-show {
  height: auto;
  overflow: visible;
  transition: 0.5s; }

.media-divider {
  position: absolute;
  bottom: 60px;
  left: 10px;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2; }

.section-slider h2 {
  text-align: center; }

.slider-1-item.media-presentation {
  margin-top: 50px; }
  .slider-1-item.media-presentation .slick-dots {
    text-align: center;
    position: relative;
    z-index: 2000;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%; }
    .slider-1-item.media-presentation .slick-dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(51, 102, 153, 0.3);
      margin: 0 10px;
      cursor: pointer; }
    .slider-1-item.media-presentation .slick-dots li.slick-active {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #336699;
      margin-bottom: -3px; }
    .slider-1-item.media-presentation .slick-dots button {
      display: none; }
  .slider-1-item.media-presentation .arrow-next,
  .slider-1-item.media-presentation .arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1000;
    cursor: pointer; }
  .slider-1-item.media-presentation .arrow-next {
    background-image: url("../img/signs/arrow-right-sm-blue.png");
    right: 0; }
  .slider-1-item.media-presentation .arrow-prev {
    background-image: url("../img/signs/arrow-left-sm-blue.png");
    left: 0; }
  .slider-1-item.media-presentation .item {
    position: relative;
    cursor: pointer; }
  .slider-1-item.media-presentation .img-box {
    border: 1px solid #e2e2e2;
    max-width: 70%;
    float: right; }
    .slider-1-item.media-presentation .img-box img {
      max-width: 100%;
      height: auto; }
  .slider-1-item.media-presentation .item-text,
  .slider-1-item.media-presentation .item-info-box {
    margin-top: 20px; }
  .slider-1-item.media-presentation .item-info-box {
    padding-top: 20px;
    position: relative; }
    .slider-1-item.media-presentation .item-info-box:before {
      content: "";
      width: 235px;
      height: 1px;
      background-color: #e2e2e2;
      position: absolute;
      top: 0;
      left: 0; }
      @media (max-width: 768px) {
        .slider-1-item.media-presentation .item-info-box:before {
          left: 50%;
          transform: translateX(-50%); } }
    .slider-1-item.media-presentation .item-info-box h4 {
      margin-bottom: 10px; }
  @media (max-width: 768px) {
    .slider-1-item.media-presentation .item-text {
      width: 80%;
      margin-left: 10%;
      text-align: center;
      padding: 0 10px; } }
  @media (max-width: 768px) and (max-width: 768px) {
    .slider-1-item.media-presentation .item-text {
      width: 100%;
      margin-left: 0; } }

  @media (max-width: 768px) {
    .slider-1-item.media-presentation .item-info-box {
      text-align: center; } }

@media (max-width: 768px) {
  .section-base.section-4-items-slider {
    padding-top: 0; } }

.slider-4-items img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slider-1-item.slider-basic-content {
  margin-top: 40px; }
  .slider-1-item.slider-basic-content .item {
    position: relative;
    text-align: center; }
    .slider-1-item.slider-basic-content .item img {
      max-width: 100%;
      height: auto;
      display: inline-block; }

.slick-dots,
.slider-1-item .slick-dots {
  text-align: center;
  position: relative;
  z-index: 2000;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  margin-left: 0; }
  .slick-dots li,
  .slider-1-item .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #336699;
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
    background-image: none;
    padding-left: 0; }
  .slick-dots li.slick-active,
  .slider-1-item .slick-dots li.slick-active {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: -3px; }
  .slick-dots button,
  .slider-1-item .slick-dots button {
    display: none; }

.arrow-next,
.arrow-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #336699;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
  cursor: pointer;
  background-color: #fff; }
  @media (max-width: 600px) {
    .arrow-next,
    .arrow-prev {
      top: 30px;
      transform: translateX(0); } }

.arrow-next {
  background-image: url("../img/signs/arrow-right-md-blue.png");
  right: 20px; }

.arrow-prev {
  background-image: url("../img/signs/arrow-left-md-blue.png");
  left: 20px; }

.map-container {
  position: relative;
  padding-top: 49.3%;
  width: 100%;
  margin: 50px auto 0 auto; }
  @media (max-width: 768px) {
    .map-container {
      padding-top: 100%; } }

#map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }

.section-contacts .section-title {
  text-align: center; }
.section-contacts .section-description {
  text-align: center;
  margin: 20px 0;
  width: 60%;
  margin-left: 20%; }
  @media (max-width: 992px) {
    .section-contacts .section-description {
      width: 83.333%;
      margin-left: 8.3333%; } }
  @media (max-width: 768px) {
    .section-contacts .section-description {
      width: 100%;
      margin-left: 0;
      padding: 0 10px; } }
.section-contacts .contact-list-wrap {
  margin-top: 30px; }
  @media (max-width: 992px) {
    .section-contacts .contact-list-wrap {
      text-align: center; } }
.section-contacts .phone-box a {
  display: block; }
.section-contacts .mode-box span {
  display: block; }

.mode-box:before {
  content: "";
  width: 15px;
  height: 14px;
  background-image: url("../img/icons/clock-icon-gold.png");
  top: 3px; }

.web-box:before {
  content: "";
  width: 15px;
  height: 14px;
  background-image: url("../img/icons/web-icon-gold.png");
  top: 3px; }

.main-page .section-contacts {
  background-color: #f7f7f7; }

.contacts-page .section-contacts {
  background-color: #fff; }

.section-form {
  background-image: url("../img/section-form-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.section-basic-content {
  text-align: center;
  background-color: #fff; }
  .section-basic-content span {
    display: block; }

.section-basic-content p, .section-basic-content span,
.section-accordion p,
.section-accordion span {
  margin-top: 20px; }
.section-basic-content .img-box,
.section-accordion .img-box {
  text-align: center;
  margin: 40px auto 20px auto;
  display: inline-block; }
  .section-basic-content .img-box img,
  .section-accordion .img-box img {
    max-width: 100%;
    height: auto; }
.section-basic-content ul,
.section-accordion ul {
  text-align: left;
  width: 83.33333%;
  margin-left: 8.3333%;
  margin-top: 10px;
  margin-bottom: 10px; }
  .section-basic-content ul li,
  .section-accordion ul li {
    list-style-type: none;
    padding-left: 30px;
    background-image: url("../img/signs/dot-gold.png");
    background-repeat: no-repeat;
    background-position: 0 5px;
    margin: 10px 0; }

.iframe-basic-box {
  position: relative;
  padding-bottom: 50%;
  margin-top: 40px; }
  .iframe-basic-box iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

.bordered-top {
  position: relative; }
  .bordered-top:before {
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    position: absolute;
    left: 0;
    top: -40px; }
@media(max-width: 768px) {
  .bordered-top:before {
    content: none; } }
/*section-search */
.section-search {
  color: #000; }
  .section-search .section-title-level-1 {
    text-align: center; }
  .section-search .section-description {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 10px 0 20px 0; }
  .section-search .page-pagination {
    margin-top: 40px; }

.search-item-group {
  margin-top: 50px;
  margin-bottom: 20px; }

.search-item-title {
  margin: 10px 0;
  color: #000;
  text-transform: uppercase;
  font-weight: bold; }
  .search-item-title a {
    color: #000;
    transition: 0.5s;
    font-weight: bold; }
    .search-item-title a:hover {
      color: #336699; }

.search-item-description {
  margin: 10px 0; }

.search-item-link {
  margin-top: 10px;
  color: #cc9966;
  word-wrap: break-word;
  white-space: normal; }
  .search-item-link a {
    color: #cc9966;
    transition: 0.5s; }
    .search-item-link a:hover {
      color: #cc6600; }

.section-accordion {
  padding: 20px 0; }

.panel {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background-color: transparent;
  box-shadow: none;
  margin: 0; }

.panel-heading {
  background-color: transparent;
  padding: 20px; }

.panel-title {
  text-align: center; }

.accordion-lg .panel:last-child {
  border-bottom: 1px solid transparent; }
.accordion-lg .panel-title > a {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  color: #336699;
  display: block; }
  @media (max-width: 768px) {
    .accordion-lg .panel-title > a {
      font-size: 16px;
      line-height: 20px; } }
  .accordion-lg .panel-title > a:before {
    content: "";
    width: 12px;
    height: 7px;
    background-image: url("../img/signs/arrow-up-lg-blue.png");
    position: absolute;
    top: 6.5px;
    right: -10px; }
.accordion-lg .panel-title > a.collapsed:before {
  background-image: url("../img/signs/arrow-down-lg-blue.png"); }
.accordion-lg .panel-body {
  padding: 40px 20px;
  text-align: center; }
  @media (max-width: 768px) {
    .accordion-lg .panel-body {
      padding: 20px; } }

.panel-group .panel {
  border-radius: 0 !important; }

.panel-group {
  margin-bottom: 0; }

.accordion-md {
  text-align: left; }
  @media (max-width: 768px) {
    .accordion-md {
      font-size: 14px; } }
  .accordion-md .panel-title {
    text-align: left; }
  .accordion-md .panel-title > a {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #336699; }
    @media (max-width: 768px) {
      .accordion-md .panel-title > a {
        font-size: 16px; } }
    .accordion-md .panel-title > a:before {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../img/signs/arrow-down-sm-blue.png");
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 5px;
      right: -10px; }
  .accordion-md .panel-title > a.collapsed {
    color: #000;
    position: relative; }
    .accordion-md .panel-title > a.collapsed:before {
      content: "";
      background-image: url("../img/signs/arrow-right-sm-blue.png"); }
  .accordion-md .panel-body {
    background-color: #f7f7f7; }

footer {
  background-color: #f7f7f7;
  padding: 40px 0 10px 0;
  color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (max-width: 400px) {
  .logo-footer {
    text-align: center; } }

.footer-links-list {
  margin-top: 15.5px; }
  .footer-links-list ul {
    text-align: right; }
    @media (max-width: 1200px) {
      .footer-links-list ul {
        text-align: center; } }
    .footer-links-list ul li {
      display: inline-block;
      margin-left: 30px; }
      @media (max-width: 1200px) {
        .footer-links-list ul li {
          margin-left: 15px;
          margin-right: 15px; } }
      @media (max-width: 768px) {
        .footer-links-list ul li {
          margin-left: 5px;
          margin-right: 5px; } }
      @media (max-width: 550px) {
        .footer-links-list ul li {
          display: block;
          margin: 5px 0; } }
      .footer-links-list ul li a {
        font-size: 14px;
        color: #000;
        text-transform: uppercase; }

.social-buttons-list {
  position: absolute;
  z-index: 999;
  padding-right: 20px;
  width: 170px;
  top: 0;
  right: 10px;
  background-color: #f7f7f7;
  cursor: pointer; }
  @media (max-width: 767px) {
    .social-buttons-list {
      top: -50px; } }
  @media (max-width: 400px) {
    .social-buttons-list {
      position: relative;
      top: 0;
      margin: 20px auto;
      right: 0; } }
  .social-buttons-list a {
    display: block;
    float: left;
    margin-top: 5.5px; }
  .social-buttons-list .social-toggle {
    position: absolute;
    content: "";
    width: 20px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: right center;
    top: 5.5px;
    right: 0;
    padding: 0; }
  .social-buttons-list .social-button-box {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px; }
  .social-buttons-list .social-button-box.facebook {
    background-image: url("../img/icons/facebook-icon.png"); }
  .social-buttons-list .social-button-box.google-plus {
    background-image: url("../img/icons/google-plus-icon.png"); }
  .social-buttons-list .social-button-box.twitter {
    background-image: url("../img/icons/twitter-icon.png"); }

.social-buttons-list.closed {
  height: 45.5px;
  overflow: hidden; }
  .social-buttons-list.closed .social-toggle {
    background-image: url("../img/signs/caret-down-gold.png"); }

.social-buttons-list.open .social-toggle {
  background-image: url("../img/signs/caret-up-gold.png"); }

.copyright {
  text-align: center;
  font-size: 14px; }

.table-lg th {
  text-align: center;
  border: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2 !important; }
.table-lg th:first-child {
  color: transparent;
  background-color: transparent;
  border-top-color: transparent !important;
  border-left-color: transparent; }
.table-lg td {
  text-align: left;
  border: 1px solid #e2e2e2; }
.table-lg tfoot tr td {
  color: #cc9966;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 20px; }
.table-lg tfoot tr td:first-child {
  text-align: left; }
.table-lg tfoot tr:last-child td,
.table-lg tfoot tr:last-child {
  border: none !important; }

.table.table-lg > thead > tr > th,
.table.table-md > thead > tr > th {
  border-bottom: none; }

.table.table-lg > thead > tr > th,
.table.table-lg > tbody > tr > td,
.table.table-md > thead > tr > th,
.table.table-md > tbody > tr > td {
  padding: 20px;
  vertical-align: middle; }

.table.table-lg > tbody > tr > td:first-child {
  max-width: 330px;
  min-width: 250px;
  white-space: normal; }

.check-wrap {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto; }

.check-wrap.checked {
  background-image: url("../img/icons/icon-included-blue.png"); }

.check-wrap.unchecked {
  background-image: url("../img/icons/icon-unincluded-blue.png"); }

.table-lg th,
.table-md th {
  color: #336699;
  background-color: #f7f7f7;
  font-weight: normal; }
.table-lg td,
.table-md td {
  padding: 20px; }

.table-md {
  margin-top: 60px; }
  .table-md tbody tr td:last-child {
    color: #cc9966;
    font-weight: bold;
    text-align: center; }

.table.table-md > tbody > tr > td:first-child {
  max-width: 830px;
  min-width: 250px;
  white-space: normal; }

.calc-wrap {
  width: 100%;
  height: auto;
  margin-top: 80px;
  border-top: 1px solid #e2e2e2;
  text-align: center; }

.calc-select {
  display: block;
  margin: 10px auto;
  border-radius: 25px;
  height: 40px;
  text-align-last: center;
  border: 1px solid #e2e2e2;
  width: 100%;
  max-width: 490px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/signs/arrow-down-lg-blue.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer; }
  .calc-select:focus {
    outline: none; }

.form-description {
  text-align: center;
  color: #000;
  margin: 40px 0;
  width: 66.66666%;
  margin-left: 16.6666%; }
@media (max-width: 400px) {
  .form-description {
    width: 100%;
    margin: 20px 0; } }

.get_options {
  position: relative;
  width: 100%; }

.form-calc {
  margin-top: 20px; }
  .form-calc .item, .form-calc .item-title, .form-calc .item-choice, .form-calc .item-price, .form-calc .total_amount {
    float: left; }
  .form-calc .item {
    width: 100%; }
  .form-calc .main-button {
    width: 100%;
    max-width: 320px;
    margin-top: 20px; }

.form-item-group {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  height: auto;
  overflow: visible;
  float: left;
  width: 100%; }
  .form-item-group .item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-align-items: stretch; }
    @media (max-width: 768px) {
      .form-item-group .item {
        display: block; } }
  .form-item-group .item-title {
    width: 60%;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    @media (max-width: 992px) {
      .form-item-group .item-title {
        width: 100%;
        border-right: none; } }
  .form-item-group .item-choice {
    width: 20%;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    @media (max-width: 992px) {
      .form-item-group .item-choice {
        width: 50%; } }
    @media (max-width: 400px) {
      .form-item-group .item-choice {
        width: 100%; } }
  .form-item-group .item-price {
    width: 20%;
    border-bottom: 1px solid #e2e2e2; }
    @media (max-width: 992px) {
      .form-item-group .item-price {
        width: 50%; } }
    @media (max-width: 400px) {
      .form-item-group .item-price {
        width: 100%; } }
  .form-item-group .item-title, .form-item-group .item-choice, .form-item-group .item-price {
    padding: 20px;
    height: auto;
    position: relative; }
  .form-item-group .item-checkbox {
    margin-top: 0;
    cursor: pointer; }
    .form-item-group .item-checkbox:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 50%;
      position: absolute;
      top: -3.5px;
      left: -3.5px; }
  .form-item-group .item-checkbox:checked:before,
  .form-item-group .item-checkbox[disabled]:before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/icon-included-blue.png");
    border: none;
    position: absolute;
    top: -3.5px;
    left: -3.5px; }
  .form-item-group .item-counter-group {
    width: 150px; }
  .form-item-group .item-counter {
    max-width: 85px;
    line-height: 28px;
    border-radius: 25px;
    border: 1px solid #e2e2e2;
    text-align: center;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .form-item-group .item-counter:focus {
      outline: none; }

.item-counter::-webkit-outer-spin-button,
.item-counter::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.item-counter,
.input-number-decrement,
.input-number-increment {
  display: inline-block; }

.input-number-decrement,
.input-number-increment {
  cursor: pointer;
  color: #336699;
  font-size: 20px;
  margin: 0 10px; }

.input-number-decrement::selection,
.input-number-increment::selection,
::selection {
  background-color: transparent; }

.input-number-decrement::-moz-selection,
.input-number-increment::-moz-selection,
.item-counter-group::-moz-selection {
  background-color: transparent; }

.total_amount {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  width: 100%; }
  .total_amount .item-title, .total_amount .item-price {
    padding: 20px; }
  .total_amount .item-title {
    width: 80%;
    text-align: left;
    color: #cc9966;
    text-transform: uppercase;
    font-weight: bold; }
    @media (max-width: 768px) {
      .total_amount .item-title {
        width: 50%; } }
    @media (max-width: 400px) {
      .total_amount .item-title {
        width: 100%;
        float: left;
        text-align: center; } }
  .total_amount .item-price {
    width: 20%;
    color: #cc9966;
    font-weight: bold; }
    @media (max-width: 768px) {
      .total_amount .item-price {
        width: 50%; } }
    @media (max-width: 400px) {
      .total_amount .item-price {
        width: 100%;
        float: left;
        text-align: center; } }

.disp-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.total-price-label {
  color: #fff;
  background-color: #cc9966;
  width: 130px;
  position: absolute;
  top: 0;
  right: -130px;
  z-index: 99;
  line-height: 60px;
  text-align: left;
  padding: 0 15px;
  border-radius: 0 50px 50px 0; }
  @media (max-width: 1350px) {
    .total-price-label {
      display: none; } }

/*# sourceMappingURL=style.css.map */
